body {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 30px;
}

span {
    color: orange;
}

.ma {
    display: flex;
    margin-bottom: 100px;
}

.baba {
    width: 50%;
    padding-left: 100px;
}

.baba img {
    width: 50%;
    padding-right: 20px;
}

.button-link {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(104, 252, 90);
}

.banar {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;

}

.vai {
    text-align: center;

}

.last {
    box-shadow: 10px 10px gray;
    border: 10px solid gray;
}

.ho {
    display: flex;
    box-shadow: 20px 20px 50px grey;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.goo {
    padding-left: 250px;



}

#no {
    color: rgb(82, 76, 76);
}

.oh {
    background-color: black;
}

#ar {
    color: aliceblue;
}

.pad {
    padding-bottom: 100px;
    padding-top: 30px;
}

.tui {
    display: flex;
    margin-bottom: 100px;

}

.ami {
    width: 50%;
    padding-left: 100px;
}

.kisu {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin: 5%;
    padding: 20px;
    border-radius: 15px;
}